.container {
  position: relative;
  display: flex;
  width: min(80vw, calc(var(--ratio) * 80vh));
  max-width: var(--width);
  place-content: center;
  place-items: center;

  &:before {
    display: inline-block;
    padding-bottom: calc(1 / var(--ratio) * 100%);
    content: "";
    vertical-align: top;
  }
}

.preview {
  position: absolute;
  overflow: hidden;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06), 0px 18px 24px rgba(0, 0, 0, 0.02);
  inset: 0;
  will-change: transform;

  svg {
    position: absolute;
    contain: strict;
    inset: 0;
  }
}

.toast {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: max-content;
  padding: 8px 14px;
  backdrop-filter: saturate(180%) blur(20px);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06),
    0px 20px 26px rgba(0, 0, 0, 0.02);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  place-content: center;
  place-items: center;
  will-change: transform;

  .group {
    display: flex;

    &:not(:last-of-type):after {
      width: 2px;
      height: inherit;
      margin: -8px 12px;
      background: rgba(0, 0, 0, 0.12);
      border-radius: 10px;
      content: "";
    }
  }

  .secondaryLabel {
    color: rgba(255, 255, 255, 0.6);
  }

  .sizeClasses {
    display: flex;

    .label {
      text-transform: uppercase;
    }
  }

  .sizeClass:not(:last-of-type) {
    margin-right: 6px;
  }
}
