.container {
  position: relative;
  display: flex;
  width: min(80vw, calc(var(--ratio) * (80vh - var(--header-height))));
  max-width: var(--width);
  place-content: center;
  place-items: center;

  &::before {
    display: inline-block;
    padding-bottom: calc(1 / var(--ratio) * 100%);
    content: "";
    vertical-align: top;
  }
}

.screen {
  position: absolute;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 4%), 0 4px 24px rgb(0 0 0 / 2%);
  inset: 0;
  will-change: transform;

  svg {
    position: absolute;
    contain: strict;
    inset: 0;
  }
}

.toast {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: max-content;
  padding: 10px 16px;
  backdrop-filter: saturate(180%) blur(20px);
  background: rgb(60 60 60 / 80%);
  border-radius: 100px;
  box-shadow: 0 2px 12px rgb(0 0 0 / 6%), 0 8px 32px rgb(0 0 0 / 4%);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  place-content: center;
  place-items: center;
  will-change: transform;

  .group {
    display: flex;

    &:not(:last-of-type)::after {
      width: 2px;
      height: inherit;
      margin: -10px 14px;
      background: rgb(0 0 0 / 10%);
      border-radius: 10px;
      content: "";
    }
  }

  .secondary-label {
    color: rgb(255 255 255 / 60%);
  }

  .size-classes {
    display: flex;

    .label {
      text-transform: uppercase;
    }
  }

  .size-class:not(:last-of-type) {
    margin-right: 6px;
  }
}
